@import "../../../../mixins.scss";

.help {
  @include space-between-flex();
  flex-direction: column;
  align-items: center;
  padding: 80px 0 100px;
  background-color: #ffffff;

  &__title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 0 60px;
  }

  &__mesh {
    @include space-between-flex();
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 55px;
    width: 1026px;
  }

  &__img {
    width: 60px;
    height: 60px;
  }

  &__item {
    @include space-between-flex();
    flex-direction: column;
    align-items: center;
    height: 113px;

    &:nth-last-child(4) {
      padding-left: 84px;
    }

    &:last-child {
      padding-right: 84px;
    }
  }

  &__name {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #545454;
    letter-spacing: 1.1px;
    margin: 0;
  }
}

@media screen and (max-width: 1050px) {
  .help {
    &__mesh {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 630px;
      column-gap: 60px;
    }

    &__item {
      width: 170px;

      &:nth-last-child(4) {
        padding: 0;
      }
      &:last-child {
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .help {
    padding: 42px 0;

    &__title {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.06em;
      margin-bottom: 42px;
    }

    &__mesh {
      gap: 7.7vw;
      width: 96.9vw;
    }

    &__item {
      width: 115px;
      height: 87px;
      align-items: center;
    }

    &__img {
      height: 50px;
    }

    &__name {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 110%;
      text-align: center;
      letter-spacing: 0.06em;
    }
  }
}

@media screen and (max-width: 430px) {
  .help {
    padding-top: 41px;

    &__mesh {
      grid-template-columns: repeat(2, 1fr);
      width: 290px;
      gap: 30px;
    }

    &__item {
      width: 130px;
    }
  }
}
