@import "../../../../mixins.scss";

.friends-page {
  background-color: #f6f6f6;
  padding: 80px 0 100px;

  &__container {
    @include space-between-flex();
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 1162px;
    margin: auto;
  }

  &__title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
  }

  &__page {
    @include space-between-flex();
    width: 100%;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;
  }

  &__nav {
    @include space-between-flex();
    width: 340px;
    align-items: center;
  }

  &__button {
    padding: 0;
    box-sizing: border-box;
    width: 52px;
    height: 52px;
  }

  &__index {
    border-radius: 100%;
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    background-color: #f1cdb3;
    text-align: center;
    border: 0;
    cursor: default;

    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
  }
}

@media screen and (max-width: 1250px) {
  .friends-page {
    padding-bottom: 76px;

    &__container {
      max-width: 580px;
      height: 1577px;
    }

    &__page {
      padding-bottom: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .friends-page {
    padding: 42px 0;

    &__container {
      max-width: 300px;
    }

    &__page {
      width: 270px;
    }

    &__title {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.06em;
    }

    &__nav {
      width: 93.8vw;
      max-width: 350px;
    }
  }
}

@media screen and (max-width: 380px) {
  .friends-page {
    &__card {
      padding: 0;
    }

    &__page {
      height: 1355px;
    }

    &__container {
      height: 1565px;
      gap: 42px;
    }
  }
}
