@import "../../../../mixins.scss";

.donation {
  background-color: #f6f6f6;
  padding: 80px 0 100px;

  &__container {
    @include space-between-flex();
    align-items: center;
    width: 914px;
    margin: auto;
  }

  &__text-block {
    @include space-between-flex();
    flex-direction: column;
    align-items: start;
    height: 282px;
  }

  &__title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;

    width: 300px;
    margin: 0;
  }

  &__subtitle {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    color: #545454;
    margin: 0;
    letter-spacing: 0.06em;
  }

  &__card {
    @include space-between-flex();
    width: 319px;
    background-color: #f1cdb3;
    border-radius: 9px;
    padding: 10px 15px;

    &__number {
      margin: 0;
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 115%;
      color: #545454;
      letter-spacing: 0.06em;
      text-decoration: none;
    }
  }

  &__text {
    font-family: "Arial";
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #b2b2b2;

    width: 380px;
    margin: 0;
  }
}

@media screen and (max-width: 1050px) {
  .donation {
    &__container {
      flex-direction: column-reverse;
      height: 603px;
      max-width: 505px;
    }
  }
}

@media screen and (max-width: 767px) {
  .donation {
    padding: 42px 0;

    &__container {
      width: 280px;
      align-items: center;
      height: 457.8px;
    }

    &__text-block {
      align-items: center;
      height: 281px;
    }

    &__title {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.06em;

      width: 225px;
      align-self: center;
      height: 61px;
    }

    &__subtitle {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;

      width: 273px;
      letter-spacing: normal;
      height: 24px;
    }

    &__card {
      width: 251px;
      align-items: center;

      &__number {
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        height: fit-content;
      }
    }

    &__text {
      width: 280px;
      text-align: justify;
    }

    &__img {
      width: 260px;
      height: 135.2px;
    }
  }
}
