@import "../../mixins.scss";

.card {
  @include space-between-flex();
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  border-radius: 9px;
  width: 270px;
  height: 405px;
  padding-bottom: 30px;
  transition: box-shadow 0.6s;

  &:hover {
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);

    & .button {
      background-color: #fddcc4;
      border-color: #fddcc4;

      &:active {
        background-color: #f1cdb3;
        border-color: #f1cdb3;
      }
    }
  }

  &__img {
    width: 270px;
    height: 270px;
    border-radius: 9px 9px 0 0;
  }

  &__name {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: 0;
    color: #545454;
    letter-spacing: 1px;
  }
}
