@import "../../../../../mixins.scss";

.slider {
  &__container {
    display: grid;
    justify-content: space-between;
    grid-template-areas: "left block right";
    align-items: center;

    width: 1200px;
    margin: auto;
  }

  &__arrow {
    width: 14px;
    height: 6px;
    padding: 21px 17px;
    border: 2px solid #f1cdb3;
    border-radius: 100px;

    transition: all 0.6s;

    &:hover {
      background-color: #fddcc4;
      border-color: #fddcc4;
      cursor: pointer;
    }

    &:active {
      background-color: #f1cdb3;
      border-color: #f1cdb3;
    }

    &_left {
      grid-area: left;
    }

    &_right {
      grid-area: right;
    }
  }

  &__cards {
    @include space-between-flex();
    grid-area: block;
    width: 990px;
  }
}

@media screen and (max-width: 1250px) {
  .slider {
    &__container {
      width: 970px;
    }

    &__cards {
      width: 830px;
    }
  }
}

@media screen and (max-width: 1050px) {
  .slider {
    &__container {
      width: 708px;
    }

    &__cards {
      width: 580px;
    }
  }
}

@media screen and (max-width: 767px) {
  .slider {
    &__container {
      grid-template-areas:
        "block block"
        "left right";
      justify-content: center;
      width: 270px;
    }

    &__arrow {
      justify-self: center;
    }

    &__cards {
      width: 270px;
      padding-bottom: 20px;
    }
  }
}
