@import "../../../../../mixins.scss";

.slider {
  &__container {
    display: grid;
    justify-content: space-between;
    grid-template-areas: "left block right";
    align-items: center;

    width: 1200px;
    margin: auto;
  }

  &__arrow {
    width: 50px;
    height: 50px;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    padding: 0;
    @include no-repeat-background();
    background-size: 14px 6px;

    transition: all 0.6s;

    &:hover {
      background-color: #fddcc4;
      border-color: #fddcc4;
      cursor: pointer;

      &:disabled {
        background-color: inherit;
        color: #cdcdcd;
        border-color: #cdcdcd;
        cursor: not-allowed;
      }
    }

    &:active {
      background-color: #f1cdb3;
      border-color: #f1cdb3;
    }

    &_left {
      grid-area: left;
      background-image: url("../../../../../../assets/icons/arrow_left.svg");
    }

    &_right {
      grid-area: right;
      background-image: url("../../../../../../assets/icons/arrow_right.svg");
    }
  }

  &__cards {
    position: relative;
    grid-area: block;
    width: 990px;
    height: 435px;
    overflow-x: hidden;
    display: flex;
    gap: 90px;

    &__slide {
      // position: relative;
      // left: -1080px;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      gap: 90px;
      // transition: transform 0.5s;
    }
  }
}

@keyframes moveRightToCenter {
  from {
    transform: translateX(calc(100% + 90px));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes moveCenterToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 90px));
  }
}

@keyframes moveLeftToCenter {
  from {
    transform: translateX(calc(-100% - 90px));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes moveCenterToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100% + 90px));
  }
}

.animation-right-to-center {
  animation: moveRightToCenter 1s;
  animation-fill-mode: forwards;
}

.animation-center-to-left {
  animation: moveCenterToLeft 1s;
  animation-fill-mode: forwards;
}

.animation-left-to-center {
  animation: moveLeftToCenter 1s;
  animation-fill-mode: forwards;
}

.animation-center-to-right {
  animation: moveCenterToRight 1s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 1250px) {
  .slider {
    &__container {
      width: 970px;
    }

    &__cards {
      width: 830px;
      gap: 10px;

      &__slide {
        gap: 10px;
        // left: -840px;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .slider {
    &__container {
      width: 708px;
    }

    &__cards {
      width: 580px;
      gap: 40px;

      &__slide {
        gap: 40px;
        // left: -620px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .slider {
    &__container {
      grid-template-areas:
        "block block"
        "left right";
      justify-content: center;
      width: 270px;
    }

    &__arrow {
      justify-self: center;
    }

    &__cards {
      width: 270px;
      padding-bottom: 20px;
    }
  }
}
