html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.button {
  padding: 13px 43px;
  border-radius: 100px;
  text-decoration: none;

  border-style: none;
  border: 2px solid #f1cdb3;
  background-color: inherit;
  cursor: pointer;
  width: fit-content;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.9px;
  transition: all 0.6s;

  &:hover {
    background-color: #fddcc4;
    border-color: #fddcc4;
  }

  &:active {
    background-color: #f1cdb3;
    border-color: #f1cdb3;
  }

  &:disabled {
    background-color: inherit;
    color: #cdcdcd;
    border-color: #cdcdcd;
    cursor: not-allowed;
  }

  &_filled {
    background-color: #f1cdb3;
  }
}
